<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Batian</title>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/skeleton.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

  </head>
  <body>
    <div class="container">
      {{block "content" .}}
        <div class="row">
          <div class="one-half column" style="margin-top: 25%">
            <h2>Batian 0.0.1</h2>
          </div>
        </div>
      {{end}}
    </div>
  </body>
</html>